@import url(global.css);

main {
  padding-top: 60px;
  background-image: url(./img/Background_Contacts.png);
  background-size: cover;
  width: 100%;
  height: auto;
  text-align: center;
}

main h3 {
  color: var(--red);
}

main p {
  color: var(--gray-600);
  font-size: 24px;
}

main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 80px 168px 0 168px;
}

main section div {
  text-align: left;
  padding: 10px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--base-gray300);
}

main section div img {
  width: 100%;
  border-radius: 6px;
}

main section div p {
  margin: 10px 0;
  color: var(--gray-600);
}
